
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');   /*Importo la fuente que quiero usar*/

* {
    box-sizing: border-box;
}

body {

    background: #efefbb;
    background: linear-gradient(to right, #6055c2, #853939);
    font-family: 'Lato', sans-serif;
    display: flex; /*Para que me lo muestre como flex y sea responsive*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    letter-spacing: 3px;
}

.pilotoContainer {

    display: flex;
    flex-wrap: wrap; /*Si no cabe lo pasa a la siguiente fila*/
    align-items: space-between;
    justify-content: center;
    margin: 0, auto;
    max-width: 1400px; /*responsive asi jeje*/

}

.piloto {

    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    width: 90%;
    height: 400px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.piloto .imagen {
    background-color: rgba(255, 255, 255, 0.6); /*a es canal alpha*/
    border-radius: 10%;
    max-height: 350px;
    max-width: 350px;
    width: 350px;
    height: 350px;
    margin: 10px 10px 10px 10px;
}

.piloto .imagen img{
    max-width: 90%;
    margin: 10px;
    height: 95%;
    width: 95%;
    border-radius: 10%;
    object-fit: cover;
}

.piloto .info {
    margin-top: 0%;
}

/*.piloto .mundiales {

    
}*/

.piloto .info .nombre{
    margin: 15px 0 7px;
    letter-spacing: 1px;
}